@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.boxID {
  border-radius: 5px 5px 0px 0px;
}

.movie-item {
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 15px -3px rgba(0, 0, 0, 0.5);
}

.movie-item:hover {
  transform: scale(1.1) rotate(-2deg);
  transition: 0.5s;
  background-color: white;
}

.info__title {
  font: var(--main-font);
  text-transform: uppercase;
  margin-left: 8px;
}
.info__genre {
  font: var(--main-font);
  color: #bb1121;
  padding: 8px;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: 2;
  background: #000000;
  opacity: 0.25;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.stream {
  border-radius: 5px;
  margin-bottom: 5px;
}

.modalClose {
  cursor: pointer;
  color: #222;
  text-align: center;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: absolute;
  right: 15px;
  top: 5px;
}

.mod--buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
}

.mod {
  position: fixed;
  z-index: 3;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
}

.watch {
  width: 108px;
  height: 44px;
  border-radius: 5px;
  background: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.que {
  width: 108px;
  height: 44px;
  border-radius: 5px;
  background: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.btn-mod-color {
  background: #ff6b01;
  border: none;
  color: #ffffff;
}

.watch:hover,
.que:hover {
  background: #ff6b01;
  border: 1px solid #ff6b01;
  color: #ffffff;
}

.btn-mod-color {
  background: #ff6b01;
  border: none;
  color: #ffffff;
}

.mod-title {
  margin-top: 2px;
  margin-bottom: 0px;
}

.row {
  display: flex;
  align-content: center;
}

.columnA {
  flex: 40%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}

.columnB {
  flex: 60%;
  font-family: "Roboto";
  font-style: bold;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.mod-about {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.mod-about-content {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.vote-mod {
  padding: 1px 3px;
  color: #fff;
  background: #ff6b01;
  border-radius: 5px;
}

.mod-content {
  width: 880px;
  background: #ffffff;
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  -webkit-box-shadow: 8px 8px 24px 0px rgb(66, 68, 90);
  -moz-box-shadow: 8px 8px 24px 0px rgb(66, 68, 90);
  box-shadow: 8px 8px 24px 0px rgb(66, 68, 90);
}

.mod-img {
  width: 396px;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.mod-ab {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.vplayer {
  margin-top: 15px;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
  background-color: #000;
}

.vplayer img {
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.7;
}

.vplayer .plybtn {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  width: 90px;
  height: 60px;
  background-color: #333;
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}

.vplayer .plybtn:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26px;
  border-color: transparent transparent transparent #fff;
}

.vplayer img,
.vplayer .plybtn {
  cursor: pointer;
}

.vplayer img,
.vplayer iframe,
.vplayer .plybtn,
.vplayer .plybtn:before {
  position: absolute;
}

.vplayer .plybtn,
.vplayer .plybtn:before {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.vplayer iframe {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: auto;
  padding: 0;
}
@media screen and (max-width: 768px) {
  body body {
    min-width: 320px;
  }
}
@media screen and (min-width: 1280px) {
  body body {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

.header-main {
  margin: 0 auto;
  margin-left: 0;
  margin-right: 0;
  background-position: center;
  background-size: cover;
}
@media (min-width: 769px) {
  .header-main {
    padding: 45px 0 45px 0;
    height: 216px;
    opacity: 90%;
    cursor: auto;
    background-image: url("../images/header-main/header-background-1280-1x.jpg");
  }
}
@media (min-width: 769px) and (min-device-pixel-ratio: 2), (min-width: 769px) and (min-resolution: 2dppx), (min-width: 769px) and (min-resolution: 192dpi) {
  .header-main {
    background-image: url("../images/header-main/header-background-1280-2x.jpg");
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .header-main {
    padding: 45px 0 45px 0;
    height: 216px;
    opacity: 90%;
    background-image: url("../images/header-main/header-background-768-1x.jpg");
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 321px) and (max-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 321px) and (max-width: 768px) and (min-resolution: 192dpi) {
  .header-main {
    background-image: url("../images/header-main/header-background-768-2x.jpg");
  }
}
@media screen and (max-width: 320px) {
  .header-main {
    background-image: url("../images/header-main/header-background-320-1x.jpg");
  }
}
@media screen and (max-width: 320px) and (min-device-pixel-ratio: 2), screen and (max-width: 320px) and (min-resolution: 2dppx), screen and (max-width: 320px) and (min-resolution: 192dpi) {
  .header-main {
    background-image: url("../images/header-main/header-background-320-2x.jpg");
  }
}

.header-main__container {
  margin: 0 auto;
}
@media (min-width: 1280px) {
  .header-main__container {
    width: 1280px;
    padding: 0 32px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header-main__container {
    width: 768px;
    padding: 0 32px;
  }
}
@media (max-width: 767px) {
  .header-main__container {
    max-width: 320px;
    padding: 0 20px;
  }
}

.header-main__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo__name {
  color: #ffffff;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
}
@media (max-width: 767px) {
  .logo__name {
    display: none;
  }
}

.header-nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 39px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  list-style: none;
}

.header-nav__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  transition: transform 500ms ease;
}
.header-nav__link:hover, .header-nav__link:focus {
  transform: scale(1.2);
}

.header-nav__link--active {
  position: relative;
}
.header-nav__link--active::after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ff001b;
  bottom: -3px;
}

.header-form {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1280px) {
  .header-form {
    width: 394px;
  }
}
@media screen and (min-width: 768px) {
  .header-form {
    width: 336px;
    margin-bottom: 20px;
  }
}

.header-form__input {
  width: 100%;
  outline: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  transition: transform 500ms ease;
  margin-bottom: 20px;
}
.header-form__input:hover, .header-form__input:focus {
  transform: scale(1.1);
  border-bottom: 2px solid;
}
.header-form__input:hover + .header-form__btn {
  transform: scale(1.1);
}
.header-form__input::placeholder {
  color: #ffffff;
}

.header-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-form__icon:hover,
.header-form__icon:focus {
  transform: scale(1.6);
  transition: transform 0.25s ease;
}

.logo {
  margin-right: auto;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: transform 500ms ease;
  gap: 10px;
}
.logo:hover, .logo:focus {
  transform: scale(1.2);
}

.header-form__alert {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ff001b;
  text-align: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.movie-container {
  margin: 0 auto;
  max-width: 320px;
  padding: 20px;
}

.movies-list {
  list-style: none;
}

.movie-item {
  margin: 0 auto 20px;
  width: 280px;
}

.boxID {
  width: 100%;
  height: 402px;
  object-fit: cover;
  cursor: crosshair;
}

@media (width >= 768px) {
  .movie-container {
    margin: 0 auto;
    max-width: 768px;
    padding: 60px 30px;
  }
  .movies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .movie-item {
    margin: 0;
    width: 336px;
  }
  .boxID {
    height: 455px;
  }
}
@media (width >= 1280px) {
  .movie-container {
    max-width: 1280px;
    padding: 60px 30px;
  }
  .movies-list {
    gap: 32px 16px;
  }
  .movie-item {
    width: 395px;
  }
  .boxID {
    height: 574px;
  }
}
.tui-pagination .tui-is-selected, .tui-pagination strong, .tui-pagination .tui-is-selected:hover {
  color: #fff;
  background: #bb1121;
  border-color: #bb1121;
  cursor: default;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left: 1px solid #bb1121;
}

.footer {
  background-color: #f7f7f7;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  color: #545454;
}
.footer__icon {
  width: 14px;
  height: 14px;
  fill: #ff6b08;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 79px;
    flex-direction: row;
    gap: 4px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    height: 77px;
  }
}
:root {
  --sk-size: 60px;
  --sk-color: #bb1121;
}

.sk-chase {
  width: var(--sk-size);
  height: var(--sk-size);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  animation: sk-chase 2.5s infinite linear both;
}
.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}
.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: var(--sk-color);
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}
.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%, 0% {
    transform: scale(1);
  }
}
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

.header-library {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to bottom, #100001 50%, #610315);
}
@media screen and (min-width: 769px) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-library/mob-background-library-1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-library/mob-background-library-2x.jpg);
  }
}

.header-library__container {
  padding-top: 40px;
  height: 230px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library/mob-background-library-1x.jpg");
  background-position: center;
  background-size: 1024px auto;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-library__container {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library/mob-background-library-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .header-library__container {
    height: 220px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library/tab-background-library-1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-library__container {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library/tab-background-library-2x.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .header-library__container {
    width: 1024px;
    height: 215px;
    padding-left: 71px;
    padding-right: 71px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library/desk-background-library-1x.jpg");
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header-library__container {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library/desk-background-library-2x.jpg");
  }
}

.header-library-nav {
  margin-bottom: 60px;
}

.header-library-nav__list {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-library-nav__item:last-child {
  margin-left: 40px;
}

.header-library-nav__item:first-child {
  margin-right: auto;
}

.header-library-nav__button--logo {
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.header-library-nav__logotext {
  display: none;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .header-library-nav__logotext {
    display: block;
    margin-left: 10px;
  }
}

.header-library-nav__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  background-color: inherit;
  border: none;
  color: #fff;
  cursor: pointer;
}

.header-library-nav__button--active {
  position: relative;
}
.header-library-nav__button--active::after {
  content: "";
  position: absolute;
  bottom: -3px;
  display: block;
  width: 69px;
  height: 3px;
  background-color: #ff6b08;
}

.header-library-buttons {
  display: flex;
  justify-content: center;
  margin: auto;
}

.header-library-buttons__item:first-child {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .header-library-buttons__item:first-child {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .header-library-buttons__item:first-child {
    margin-right: 16px;
  }
}

.header-library-buttons__button {
  width: 129.5px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  background-color: inherit;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header-library-buttons__button {
    width: 152px;
  }
}
@media screen and (min-width: 1024px) {
  .header-library-buttons__button {
    width: 148px;
  }
}

.header-library-buttons__button:hover,
.header-library-buttons__button--active {
  background-color: #ff6b08;
  border: 1px solid #ff6b08;
}/*# sourceMappingURL=main.css.map */