/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './partials/card';
@import './example';
@import './partials/general';
@import './partials/movieModal';
@import './partials/body';
@import './partials/header-main';
@import './partials/main-container';
@import './partials/footer';

