<header class="header-main">
  <div class="header-main__container">
    <div class="header-main__menu">
      <a href="./index.html">
        <span class="logo__name">Filomteka</span>
      </a>
      <nav>
        <ul class="header-nav__list">
          <li>
            <a href="./index.html" class="header-nav__link header-nav__link--active">HOME</a>
          </li>
          <li>
            <a href="./index.html" class="header-nav__link">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
    </div>
    <form class="header-form" id="header-form">
      <input
        id="header-form__input"
        class="header-form__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button class="header-form__btn" type="submit">
        <svg class="header-form__icon" width="12" height="12">
          <use href="./images/icons/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <!-- <p class="header-form__alert is-hidden"></p> -->
  </div>
</header>

<!-- ========================================================================= -->
<!-- 
    <form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit">Search</button>
</form>
 -->
