<main>
  <section class="movie">
    <div class="movie__container">
      <div class="movie__box-contain">
        <picture>
          <source
            srcset="./images/nomovies-mylibrary/nomovies-komunikat-1280-desktop"
            media="(min-width: 1200px)"
          />
          <!-- <source srcset="images/squoosh-how1-desktopx2.png 2x" media="(min-width: 1200px)" /> -->
          <source
            srcset="./images/nomovies-mylibrary/nomovies-komunikat-768-tablet.png"
            media="(min-width: 768px)"
          />
          <!-- <source srcset="images/squoosh-how2-tabletx2.png 2x" media="(min-width: 768px)" /> -->
          <source
            srcset="./images/nomovies-mylibrary/nomovies-komunikat-320-phone.png"
            media="(max-width: 767px)"
          />
          <!-- <source srcset="images/squoosh-how3-mobilex2.png 2x" media="(max-width: 767px)" /> -->
          <img
            class="movie__img"
            src="./images/nomovies-mylibrary/nomovies-komunikat-1280-desktop.png"
            alt="There-are-no-movies-in-your-library"
          />
        </picture>
      </div>
    </div>
  </section>
  <section class="movie-container">
    <ul class="movies-list"></ul>
  </section>
  <section>
    <!-- syntax for pagination -->
  </section>
</main>
