<!-- Póki nie ma schematu budowy pojedynczego kalfa filmu, wstawiłam kilka boxów żeby było widać jak wygląda stylowanie. Jak będzie gotowy schemat budowy pojedynczego filmu, będzie można usunąć wszystkie <li>, które będziemy później renderować z JS. -->

<main>
  <section class="movie-container">
    <ul class="movies-list">
      <li class="movie-item">
        <!-- syntax for movie poster -->
      </li>
      <li class="movie-item">
        <!-- syntax for movie poster -->
      </li>
      <li class="movie-item">
        <!-- syntax for movie poster -->
      </li>
      <li class="movie-item">
        <!-- syntax for movie poster -->
      </li>
      <li class="movie-item">
        <!-- syntax for movie poster -->
      </li>
      <li class="movie-item">
        <!-- syntax for movie poster -->
      </li>
      <li class="movie-item">
        <!-- syntax for movie poster -->
      </li>
    </ul>
  </section>
  <section>
    <!-- syntax for pagination -->
  </section>
</main>
