<main>
  <section class="movie">
    <div class="movie__container">
    <div class="movie__box-contain">
      <picture>
        <source
          srcset="./images/nomovies-library/nomovies-komunikat-1280-desktop-1x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/nomovies-library/nomovies-komunikat-1280-desktop-2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/nomovies-library/nomovies-komunikat-768-tablet-1x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/nomovies-library/nomovies-komunikat-768-tablet-2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/nomovies-library/nomovies-komunikat-320-mobile-1x"
          media="(max-width: 767px)"
        />
        <source
          srcset="./images/nomovies-library/nomovies-komunikat-320-mobile-2x"
          media="(max-width: 767px)"
        />
        <img
          class="movie__img"
          src="/src/images/nomovies-library/nomovies-komunikat-1280-desktop-1x.png"
          alt="There are no movies in your library"
        />
      </picture>
    </div>
  </section>
  <section class="movie-container">
    <ul class="movies-list"></ul>
  </section>
  <section>
    <!-- syntax for pagination -->
  </section>
</main>
