<div class="backdrop hidden">
</div>
<div class="mod hidden">
      <div class="mod-content">
        <div class="modalClose" id="modalClose">
          <img class="" src="./images/x.svg" />
        </div>
        <div class="overview"></div>
        <div class="mod--buttons">
          <button class="watch">ADD TO WATCHED</button>
          <button class="que">ADD TO QUEUE</button>
        </div>        

        <div class="vplayer">
          play btn
          <div class="plybtn"></div>
        </div>
      </div>
    </div>
    