<header class="header-library">
  <div class="header-main__container">
    <div class="header-main__menu">
      <a href="./index.html" class="logo">
        <svg width="24" height="24">
          <use href="./images/icons/icons.svg#icon-logo"></use>
        </svg>
        <span class="logo__name">Filmoteka</span>
      </a>
      <nav>
        <ul class="header-nav__list">
          <li>
            <a href="./index.html" class="header-nav__link reference">HOME</a>
          </li>
          <li>
            <a href="./library.html" class="header-nav__link header-nav__link--active"
              >MY LIBRARY</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <ul class="header-library-buttons">
      <li class="header-library-buttons__item">
        <button
          type="button"
          class="header-library-buttons__button header-library-buttons__button--active"
        >
          watched
        </button>
      </li>

      <li class="header-library-buttons__item">
        <button type="button" class="header-library-buttons__button">queue</button>
      </li>
    </ul>
  </div>
</header>
