<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Library</title>
  </head>
  <body>
    <header class="header-library">
      <div class="container header-library__container">
        <nav class="header-library-nav">
          <ul class="header-library-nav__list">
            <!-- <li class="header-library-nav__item">
          <button type="button" class="header-library-nav__button--logo">
            <a class="link" href="index.html"
              ><img class="header__svg" src="./images/svg/film.svg" alt="Logo icon" />
              <span class="header-library-nav__logotext">Filmoteka</span></a
            >
          </button>
        </li> -->
            <a href="./index.html" class="logo">
              <svg width="24" height="24">
                <use href="./images/icons/icons.svg#icon-logo"></use>
              </svg>
              <span class="logo__name">Filmoteka</span>
            </a>

            <!-- <li class="header-library-nav__item">
          <button type="button" class="header-library-nav__button">home</button>
        </li>

        <li class="header-library-nav__item">
          <button
            type="button"
            class="header-library-nav__button header-library-nav__button--active"
          >
            my library
          </button>
        </li> -->

            <ul class="header-nav__list">
              <li>
                <a href="./index.html" class="header-nav__link">HOME</a>
              </li>
              <li>
                <a href="./library.html" class="header-nav__link header-nav__link--active"
                  >MY LIBRARY</a
                >
              </li>
            </ul>
          </ul>
        </nav>
        <ul class="header-library-buttons">
          <li class="header-library-buttons__item">
            <button
              id="watched-library"
              type="button"
              class="header-library-buttons__button header-library-buttons__button--active"
            >
              watched
            </button>
          </li>

          <li class="header-library-buttons__item">
            <button type="button" class="header-library-buttons__button">queue</button>
          </li>
        </ul>
      </div>
    </header>
  </body>
</html>
