<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Library</title>
  </head>
  <body>
    <header>
      <div class="header">
        <img
          width="2000"
          height="216"
          alt="background image"
          class="responsive"
          src="./images/mylibrary.jpg"
        />
        <div class="header__logo">
          <a class="link" href="index.html">
            <img class="header__svg" src="./images/svg/film.svg" alt="Logo icon" />
            <span class="header__logo--text">Filmoteka</span></a
          >
        </div>
        <button class="header__button header__button--first">WATCHED</button>
        <button class="header__button header__button--second">QUEUE</button>
        <ul class="list header__list">
          <li>HOME</li>
          <li>MY LIBRARY</li>
        </ul>
      </div>
    </header>
  </body>
</html>
