body {
  margin: auto;
  padding: 0;

  @media screen and (max-width: 768px) {
    body {
      min-width: 320px;
    }
  }
  @media screen and (min-width: 1280px) {
    body {
      width: 100%;
    }
  }
}

* {
  margin: 0;
  padding: 0;
}
