.movie{
  background-image: url('/src/images/nomovies-library/nomovies-komunikat-320-mobile-1x.png');
  background-size: 100%;
//   padding-top: 125px;
  background-repeat: no-repeat;
  background-position: right 0 bottom 100px;
//   text-align: center;
  align-items: flex-end;

  width: 100%;
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .movie {
    background-image: none;
  }
}

@media screen and (min-width: 1280px) {
  .movie {
    background-image: url('/src/images/nomovies-library/nomovies-komunikat-1280-desktop-1x.png');
    background-position: bottom;
    // background-size: 1282px 534px;
  }
}